Repository Lycheejam/python-template-with-rye: changes, and which pre-commit hooks are due for each by the changed paths.
All: rye-lint, rye-format, rye-yamllint

rye-lint:
  name: rye-lint
  entry: rye lint --fix
  language: python

rye-format:
  name: rye-format
  entry: rye fmt
  language: python

rye-yamllint:
  name: rye-yamllint
  description: This hook runs yamllint.
  entry: rye run yamllint
  language: python

:shirt: fix lint
  .pre-commit-config.yaml
Due: rye-yamllint

:pencil2: ryeを使って実行するのでシステム依存ですよと言うこの指定が正しい？
  .pre-commit-config.yaml
Due: rye-yamllint

:tada: add CI Workflow
  .github/workflows/lint.yml
  .github/workflows/tests.yml
Due: rye-yamllint

:+1: add dependabot workflow
  .github/dependabot.yml
  .github/workflows/dependabot-auto-merge.yml
Due: rye-yamllint

:+1: add yamllint config
  .yamllint
Due: none

:bug: fix auto merge condition
  .github/workflows/dependabot-auto-merge.yml
Due: rye-yamllint

:shower: fix author
  pyproject.toml
Due: none

:+1: add mypy
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  pyproject.toml
  requirements-dev.lock
Due: rye-yamllint

:pencil2: update README
  README.md
Due: none

:pencil2: fix workflow name
  .github/workflows/tests.yml
Due: rye-yamllint

:pencil2: fix workflow job name
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/lint.yml
  .github/workflows/tests.yml
Due: rye-yamllint

:tada: add sample code
  src/hello_world.py
  tests/test_hello_world.py
Due: rye-lint, rye-format

:bug: fix CI mypy args
  .github/workflows/lint.yml
Due: rye-yamllint

:bug: fix CI yamllint args
  .github/workflows/lint.yml
Due: rye-yamllint

:+1: add CI status budge
  README.md
Due: none

Path conditions:
  rye-lint: any of: \.py$
  rye-format: any of: \.py$
  rye-yamllint: any of: \.(yaml|yml)$
